body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url("wall.avif");
    background-size: cover;
    
}

.calculator {
    margin-top:300px;
    margin-bottom: 100px;
    display: inline-block;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator input {
    margin: 5px;
    padding: 10px;
    width: 87%;
    background-color: aqua;
}

.calculator button {
    margin: 5px;
    padding: 10px;
    width: 45%;
    cursor: pointer;
    background-color: darkorchid;
}

.calculator .result {
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
    width: 89%;
    font-size: 1.2em;
    background-color: antiquewhite;
}